header {
    background-image: url(./assets/bgblue.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
}

.logo-container {
    width: 120px;
}

.logo {
    width: 100%;
}

.image-container {
    width: 80%;
    max-width: 800px;
}

.image {
    width: 100%;
}

.btn {
    width: 100%;
}

.submit-email{
    width: 90%;
    max-width: 600px;
}